.ui.form {
    fieldset {
        border: none;
        margin:0;
        padding: 0;

        legend {
            color: $primary;
            font-size: 22px;
            font-weight: 500;
            margin-bottom: 1rem;
        }
    }
}

.form-display {

    .field {
        display: flex;
        margin-bottom: 1rem;
    }

    .field__item {
        flex: 1;
    }
}

@include mq(sm) {
    .form-display {
        .field {
            display: block;
            margin-bottom: 1rem;

            label {
                display: block;
                margin-bottom: 5px;
            }
        }
    }
}