.StripeElement:not(#paymentRequestButton) {
    padding: .67857143em 1em;
    border: 1px solid rgba(34,36,38,.15);
    border-radius: 4px;
    background-color: white;
}

.StripeElement--focus {
    border-color:#85b7d9;
    /* box-shadow: 0 1px 3px 0 #cfd7df; */
}

.StripeElement--invalid {
    border-color: #e0b4b4 !important;
    background-color: #fff6f6 !important;
}

.StripeElement--error {
    color: #db2828;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.stripe-checkout .ui.segment {
    border: none;
    box-shadow: none;
    padding: 0;
}


.stripe-checkout-payment-request {
    .ui.horizontal.divider {
        color: map-get($colors, black );
        font-size: 12px !important;
        font-weight: normal;
    }
}