.site-header {
    padding: 26px 0 11px !important;
}

.site-name a {
    color: map-get($colors, 'blue');
    cursor: pointer;
    letter-spacing: 0.05em;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 28px;
    font-weight: bold !important;
    text-transform: uppercase;

    span {
        color: $primary;
    }
}

@include mq(sm) {
    
    .site-name a {
        font-size: 32px;
    }
}