.user-registration {
    position: relative;
}

.user-registration__overlay {
    background-color: rgba(48, 48, 48, 0);
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;

    &.active {
        display: block;
    }
}

.user-registration__subscription-total {
    background-color: $secondary;
    border-radius: 5px;
    color: #fff;
    padding: 12px;
    text-align: center;
}

.user-registration__actions  {

    text-align: center;

    button {
        margin-right: 0 !important;
        margin-bottom: 1rem !important;
        width: 100%;
    }
}

.user-registration__actions-loader {
    display: flex;
    flex-direction: column;
}

@include mq(sm) {
    
    .user-registration__actions {
        text-align: left;

        button {
            margin-right: 1rem !important;
            width: auto;
        }
    }

    .user-registration__actions-loader {
        flex-direction: row;
    }
}